[Desktop Entry]
Type=Application
Terminal=false
Exec=soracom-console
Name=Soracom Console
X-GNOME-FullName=Soracom Console
Icon=${SNAP}/meta/gui/soracom256.png
X-Ubuntu-Touch=true
X-Ubuntu-Single-Instance=true
X-Ubuntu-Default-Department-ID=internet
